{% extends authorize_check %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/igor.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Игорь Поляков </h3>
                <p>      Тимлид </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/arthur.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Артур Салимьянов </h3>
                <p>      Backend-разработчик </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/ivan.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Иван Меренков </h3>
                <p>      IOS-разработчик </p>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 80px;">
    
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/timur.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Тимур Баев </h3>
                <p>     Backend-разработчик </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/yarik.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Ярослав Максин </h3>
                <p>      Frontend-разработчик </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/timofey.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Тимофей Смагин </h3>
                <p>      Frontend-разработчик </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/vadim.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Вадим Захаров </h3>
                <p>      Пишет отчёт </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
