{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/igor.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Игорь Поляков </h3>
                <p>      Тимлид </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/yarik.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Ярослав Максин </h3>
                <p>      Frontend-разработчик </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/yarik.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Ярослав Максин </h3>
                <p>      Frontend-разработчик </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/igor.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Игорь Поляков </h3>
                <p>      Тимлид </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/yarik.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Ярослав Максин </h3>
                <p>      Frontend-разработчик </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/vadim.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Вадим Захаров </h3>
                <p>      Тестировщик </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="imgBx"><img src="{% static 'main/img/igor.jpg' %}" width="120" height="120"></div>
            <div class="contentBx">
                <h3>    Игорь Поляков </h3>
                <p>      Тимлид </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
