{% extends 'main/grandfather.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block styles_grand %}
    {% block styles %}{% endblock %}
    {% endblock %}
</head>
<body>
    {% block header_grand %}
    <header>

        <nav class="navigation">
            <a class ="logo" href="{% url 'base_page' %}"> cO7working </a>
            <a class="aStyle" href="{% url 'about' %}"> О нас </a>
            <a class="aStyle" href="{% url 'contacts' %}"> Обратная связь</a>
            <!--<input type="place" placeholder="Search coworking place">-->
        </nav>

        <div class="leftnav">
            <a class="btnReg" href="{% url 'registration' %}">Регистрация</a>
            <a class="btnLogin" href="{% url 'login_view' %}">Войти</a>
        </div>

    </header>
    {% endblock %}

    

    {% block content_grand %}

    {% block content %}{% endblock %}

    {% endblock %}

</body>
</html>
