{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Бронь </title>
    <meta charset="UTF-8">
    <meta name="viewsport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    {% block styles %}{% endblock %}


    <title> c07working </title>
</head>
<body>
<!--
    <header>

        <nav class="navigation">
            <a class ="logo" href="book"> cO7working </a>
            <a class="aStyle" href="book"> Бронь </a>
            <a class="aStyle" href="about"> О нас </a>
            <a class="aStyle" href="contacts"> Обратная связь</a>
            <input type="place" placeholder="Search coworking place">
        </nav>

        <div class="leftnav">
            <a class="CrcProfile" href="profile">
                <img src="{% static 'main/img/yarik.jpg' %}" class="btnPrf" width="120" height="120">
            </a>
        </div>

    </header>-->
    <header>

        <nav class="navigation">
            <a class ="logo" href="book"> cO7working </a>
            <a class="aStyle" href="temp"> Бронь </a>
            <a class="aStyle" href="about"> О нас </a>
            <a class="aStyle" href="contacts"> Обратная связь</a>
            <input type="place" placeholder="Search coworking place">
        </nav>

        <div class="leftnav">
            <a class="btnReg" href="registration">Регистрация</a>
            <a class="btnLogin" href="login">Войти</a>
        </div>

    </header>
    


    {% block content %}{% endblock %}

    <div class="loader"></div>
</body>
</html>
