{% extends authorize_check %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/book.css' %}">
<title> Бронь </title>
{% endblock %}

{% block content %}


<h1 class="main-text">Коворкинги Санкт-Петербугра</h1>
<div class="spaces">

    {% for key, value in coworkings.items %}
    <div class="container-space">
        <div class="space-img" ><img src="{{value.image.url}}" alt="Right Image 1"></div>
        <div class="bottom-containers">
            <div class="about-container">
                <h2 class="name">{{ value.name }}</h2>
                <div class="score">
                    <div class="heart-icon" ><img src="{% static 'main/img/heart.png' %}" alt="Right Image 1"></div>
                    <h4>{{ value.rating }}</h4>
                </div>
            </div>
            <a class="detailsBtn" href="coworking/{{ key }}">Подробнее</a>
        </div>
    </div>
    {% endfor %}


</div>

{% endblock %}