{% extends authorize_check %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/contacts.css' %}">
{% endblock %}

{% block content %}
<div class="contact-container">
    <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
        <div class="contact-left-title">
            <h2> Свяжитесь с нами! </h2>
            <hr>
        </div>
        <input type="hidden" name="access_key" value="24c40340-d039-470b-9818-8bc952a0aa67">
        <input type="text" name="name" placeholder="Ваше имя" class="contact-input" required>
        <input type="text" name="email" placeholder="Ваша почта" class="contact-input" required>
        <textarea name="message" placeholder="Ваше сообщение" class="contact-input" required></textarea>
        <button type="submit"> Отправить <img src="{% static 'main/img/arrow_icon.png' %}"> </button>
    </form>
    <div class="contact-right">
        <img src="{% static 'main/img/right_img.png' %}" alt="">
    </div>
</div>
{% endblock %}
