{% extends 'main/base_logged_in.html' %}

{% load static %}



{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/create_coworking.css' %}"> <!--Ярик, тут меняй css на профиль css который создашь
    + посмотри там другие css и скопируй из них переменные для цветов(они правда называются по-ублюдски но ты можешь поменять названия в своем css)-->
<link rel="stylesheet" href="{% static 'main/css/create.css' %}">
{% endblock %}

{% block content %}


<form id="profileForm" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input id="tariffData" name="tariffData" value="" hidden>
    <div class="container">

        <div class="left-image">
            <div class="left-img">
                <img id="preview1" src="{% static 'main/img/pict1_template.jpg' %}" alt="Preview Image 1" style="cursor:pointer;">
                <input type="file" id="avatarInput1" name="pict1" accept="image/*" style="display:none;" >
            </div>
        </div>

        <div class="right-images">

            <div class="photos">
                <input type="file" id="avatarInput2" name="pict2"  accept="image/*" style="display:none;" >
                <img id="preview2" src="{% static 'main/img/pictN_template.jpg' %}" alt="Preview Image 2" style="cursor:pointer;">
            </div>
            <div class="photos">

                <input type="file" id="avatarInput3" name="pict3" accept="image/*" style="display:none;" >
                <img id="preview3" src="{% static 'main/img/pictN_template.jpg' %}" alt="Preview Image 3" style="cursor:pointer;">
            </div>
            <div class="photos">

                <input type="file" id="avatarInput4" name="pict4" accept="image/*" style="display:none;" >
                <img id="preview4" src="{% static 'main/img/pictN_template.jpg' %}" alt="Preview Image 4" style="cursor:pointer;">
            </div>
            <div class="photos">

                <input type="file" id="avatarInput5" name="pict5" accept="image/*" style="display:none;" >
                <img id="preview5" src="{% static 'main/img/pictN_template.jpg' %}" alt="Preview Image 5" style="cursor:pointer;">
            </div>

        </div>

    </div>
    <div class="info">
        <span> Название коворкинга </span>
          <input type="Name" name="text1" class ="editinginputs1" placeholder=""  maxlength="50" required>
        <span> Адрес </span>
          <input type="Name" name="text3" class ="editinginputs1" placeholder=""  maxlength="500" required>
        <span> Рабочие часы </span>
        <input type="time" name="time_start" class ="editinginputs1" placeholder="" required>
        <input type="time" name="time_end" class ="editinginputs1" placeholder="" required>
    </div>
    <hr class="line">
    <div class="price">
      <div class="left">
        <h1> Описание коворкинга </h1>
        <p id="editableField" contenteditable="true"></p>
        <input name="text2" id="editableContent" value="" hidden>
      </div>
      <div class="right">
        <h1> Преимущества </h1></h>
        <div class="right-items">
            <div style="display: flex; flex-direction: column; margin-right: 30px;">
                <div class="element">
                    <object class="icon" type="image/svg+xml" data="{% static 'main/img/wifi.svg' %}"></object>
          
                    <h4> Высокоскоростной интернет </h4>
                    <label class="main">
                        <input type="checkbox">
                        <span class="checkbox-container"></span>
                    </label>
                    </div>
                    <div class="element">
                    <object class="icon" type="image/svg+xml" data="{% static 'main/img/coffee.svg' %}"></object>
                    <h4> Качественный кофе </h4>
                    <label class="main">
                        <input type="checkbox">
                        <span class="checkbox-container"></span>
                    </label>
                    </div>
                    <div class="element">
                    <object class="icon" type="image/svg+xml" data="{% static 'main/img/print.svg' %}"></object>
                    <h4> Можно распечатать </h4>
                    <label class="main">
                        <input type="checkbox">
                        <span class="checkbox-container"></span>
                    </label>
                    </div>
                    <div class="element">
                    <object class="icon" type="image/svg+xml" data="{% static 'main/img/shower.svg' %}"></object>
                    <h4>  Душ </h4>
                    <label class="main">
                        <input type="checkbox">
                        <span class="checkbox-container"></span>
                    </label>
                    </div>
                    <div class="element">
                    <object class="icon" type="image/svg+xml" data="{% static 'main/img/cafe.svg' %}"></object>
                    <h4> Cтоловая </h4>
                    <label class="main">
                        <input type="checkbox">
                        <span class="checkbox-container"></span>
                    </label>
                    </div>
            </div>
            <div style="display: flex; flex-direction: column; margin-left: 30px;">
            <div class="element">
                <object class="icon" type="image/svg+xml" data="{% static 'main/img/fitness.svg' %}"></object>
                <h4> Фитнес зона </h4>
                <label class="main">
                    <input type="checkbox">
                    <span class="checkbox-container"></span>
                </label>
            </div>
            <div class="element">
                <object class="icon" type="image/svg+xml" data="{% static 'main/img/food.svg' %}"></object>
                <h4> Фрукты и закуски </h4>
                <label class="main">
                    <input type="checkbox">
                    <span class="checkbox-container"></span>
                </label>
            </div>
            <div class="element">
                <object class="icon" type="image/svg+xml" data="{% static 'main/img/locker.svg' %}"></object>
                <h4> Шкафчики для вещей </h4>
                <label class="main">
                    <input type="checkbox">
                    <span class="checkbox-container"></span>
                </label>
            </div>
            <div class="element">
                <object class="icon" type="image/svg+xml" data="{% static 'main/img/park-zone.svg' %}"></object>
                <h4> Парковка </h4>
                <label class="main">
                    <input type="checkbox">
                    <span class="checkbox-container"></span>
                </label>
            </div>
            </div>
        </div>
      </div>
    </div>

    <div class="spaces-h1">
    <h1 class="block" style="margin-bottom: 10px;"> Тарифы </h1>
        <div class="spaces" id="htmlContainer">

            <div class="two_window">
                <div class="container-space">
                    <div class="space-img" >
                        <img id="preview6" src="{% static 'main/img/pict1_template.jpg' %}" alt="Preview Image 1" style="cursor:pointer;">
                        <input type="file" id="avatarInput6" name="avatar${document.querySelectorAll('.two_window').length + 1}" accept="image/*" style="display:none;">
                    </div>

                    <div class="ser-info-box">
                        <h3>Название тарифа</h3>
                        <input type="text" name="tariff_name" class ="editinginputs1" placeholder=""  maxlength="22" required>
                        <h3>Количество мест</h3>
                        <input type="text" name="tariff_seats" class ="editinginputs1" placeholder=""  maxlength="22" required>
                        <h3>Стоимость за час</h3>
                        <input type="text" name="tariff_price" class ="editinginputs1" placeholder=""  maxlength="22" required>
                        <button type="button" id="addHtmlButton" class="BookBtn" style="margin-top: 17px;">Добавить</button>
                    </div>

                </div>
        </div>
    </div>
</div>

    <button type="submit" class="BookBtn2" style="margin-top: 17px;">Создать коворкинг</button>
</form>

<script>
    document.getElementById('addHtmlButton').addEventListener('click', function() {
        tariffs = [];
        document.querySelectorAll('.two_window').forEach(function(tariff) {
            nameElement = tariff.querySelector('.editinginputs1[name="tariff_name"]');
            seatsElement = tariff.querySelector('.editinginputs1[name="tariff_seats"]');
            priceElement = tariff.querySelector('.editinginputs1[name="tariff_price"]');
            imageElement = tariff.querySelector('.space-img img');

            if (nameElement && seatsElement && priceElement && imageElement) {
                const tariffData = {
                    name: nameElement.value,
                    seats: seatsElement.value,
                    price: priceElement.value,
                    image: imageElement
                };
                tariffs.push(tariffData);
            } else {
                console.error('Some tariff elements are missing:', { nameElement, seatsElement, priceElement, imageElement });
            }
        });

        document.getElementById('tariffData').value = JSON.stringify(tariffs);
    });

    document.getElementById('profileForm').addEventListener('submit', function() {
        var editableFieldContent = document.getElementById('editableField').innerHTML;
        document.getElementById('editableContent').value = editableFieldContent;

        const tariffs = [];
        document.querySelectorAll('.two_window').forEach(function(tariff) {
            const nameElement = tariff.querySelector('.editinginputs1[name="tariff_name"]');
            const seatsElement = tariff.querySelector('.editinginputs1[name="tariff_seats"]');
            const priceElement = tariff.querySelector('.editinginputs1[name="tariff_price"]');
            const imageElement = tariff.querySelector('.space-img img');

            if (nameElement && seatsElement && priceElement && imageElement) {
                const tariffData = {
                    name: nameElement.value,
                    seats: seatsElement.value,
                    price: priceElement.value,
                    image: imageElement.src
                };
                tariffs.push(tariffData);
            } else {
                console.error('Some tariff elements are missing:', { nameElement, seatsElement, priceElement, imageElement });
            }
        });

        document.getElementById('tariffData').value = JSON.stringify(tariffs);
    });
</script>

<script>
    document.getElementById('addHtmlButton').addEventListener('click', function() {
    // Создаем новый элемент
    const newElement = document.createElement('div');
    newElement.className = 'two_window';
    let values = document.querySelector('.ser-info-box').querySelectorAll('.editinginputs1');
    let src = document.getElementById('preview6').src

    for (i=0; i<3;i++){

    console.log(values[i].value);
    }
    // Добавляем в него HTML код
    newElement.innerHTML = `
        <div class="container-space">
            <div class="space-img" ><img src='${src}' alt="Right Image 1"></div>
            <input type="file" id="avatarInput6" name="avatar${document.querySelectorAll('.two_window').length + 1}" value="${src}" accept="image/*" style="display:none;" >

            <h2 style="margin-left: 10px;">${values[0].value}</h2>
            <input type="text" name="tariff_name" class ="editinginputs1" placeholder="" value="${values[0].value}" style="display:none;" maxlength="22" required>

            <h4>Мест: ${values[1].value}</h4>
            <input type="text" name="tariff_seats" value="${values[1].value}" class ="editinginputs1" placeholder="" style="display:none;" maxlength="22" required>

            <h4>Цена за час: ${values[2].value} руб.</h4>
            <input type="text" name="tariff_price" class ="editinginputs1" value="${values[2].value}" placeholder="" style="display:none;" maxlength="22" required>

            <button type="button" id="deleteHtmlButton" class="BookBtn3">Удалить</button>
        </div>
    `;

    // Добавляем новый элемент в контейнер
    document.getElementById('htmlContainer').appendChild(newElement);
});
</script>

<script>
document.getElementById('preview1').addEventListener('click', function() {
      document.getElementById('avatarInput1').click();
 });
 document.getElementById('preview2').addEventListener('click', function() {
      document.getElementById('avatarInput2').click();
 });
 document.getElementById('preview3').addEventListener('click', function() {
      document.getElementById('avatarInput3').click();
 });
 document.getElementById('preview4').addEventListener('click', function() {
      document.getElementById('avatarInput4').click();
 });
 document.getElementById('preview5').addEventListener('click', function() {
      document.getElementById('avatarInput5').click();
 });
 document.getElementById('preview6').addEventListener('click', function() {
      document.getElementById('avatarInput6').click();
 });

    // Массивы с идентификаторами элементов
const inputIds = ['avatarInput1', 'avatarInput2', 'avatarInput3', 'avatarInput4', 'avatarInput5', 'avatarInput6'];
const previewIds = ['preview1', 'preview2', 'preview3', 'preview4', 'preview5', 'preview6'];

// Функция для добавления событий
function addEventListeners(inputId, previewId) {
    document.getElementById(inputId).addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const preview = document.getElementById(previewId);
                preview.src = e.target.result;

            };
            reader.readAsDataURL(file);
        }
    });
}

// Привязка событий ко всем элементам
for (let i = 0; i < inputIds.length; i++) {
    addEventListeners(inputIds[i], previewIds[i]);
}
</script>

{% endblock %}

