{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Авторизация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">

</head>
<body>
    <header style="background-color: transparent;">
        <a class="logo" href="/">CoWork</a>
    </header>
    <div class="container" id="container">
        <div class="toggle-container">
            <img src="{% static 'main/img/table.png' %}" alt="">
        </div>
        <div class="form-container sign-in">
            <form id="registration_form2" method="POST">
                {% csrf_token %}
                <h1>Войти</h1>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>

                <div id="error-password-user" class="errorp" style="display: none;">
                    <p>Invalid login or password</p>
                </div>

                <button type="submit" class="btnLogin">Войти</button>
                <a href="{% url 'registration' %}">Создать аккаунт</a>
            </form>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#registration_form2').submit(function(event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: '{% url "login_view" %}',
                    method: 'POST',
                    data: formData,
                    success: function(response) {
                        window.location.href = "profile";
                    },
                    error: function(xhr, status, error) {
                        var errors = JSON.parse(xhr.responseText).error;
                        if (errors.password) {
                            $('#error-password-user').show();
                        } else {
                            $('#error-password-user').hide();
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>
