{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Бронь </title>
    <meta charset="UTF-8">
    <meta name="viewsport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">


    <title> c07working </title>
</head>
<body>
    <header style="background-color: transparent;">

        <a class ="logo" href="/"> cO7working </a>


    </header>
    <div class="container" id="container">
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Привет, друг!</h1>
                    <p>Зарегистрируйтесь, чтобы получить доступ к функционалу сайта</p>
                    <a class="btnLogin" href="register">Регистрация</a>
                </div>
            </div>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1> Войти </h1>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                
                <a class="btnLogin" href="#">Войти</a>
                <a href="#">Забыли пароль?</a>

                
            </form>
        </div>

    </div>
    <div class="sign-in-left">
        <img src="assets/left_img.png" alt="">
    </div>
    <div class="loader"></div>
</body>
</html>

