{% extends 'main/base_logged_in.html' %}
{% load static %}
{% load tz %}

{% block styles %}
<title> Профиль </title>
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="{% static 'main/css/profile_user.css' %}"> <!--Ярик, тут меняй css на профиль css который создашь
  + посмотри там другие css и скопируй из них переменные для цветов(они правда называются по-ублюдски но ты можешь поменять названия в своем css)-->
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <style>
    .disabled {
        background-color: lightgray;
    }
</style>

{% endblock %}


{% block content %}
<div class="wrapper" style="margin-top: 100px;">
  <div class="left">
      <form id="profileForm" method="POST" enctype="multipart/form-data" style="width: 80%; justify-content: center; display: flex;">
            {% csrf_token %}
            <img src="{{ avatar.url }}" alt="user" width="150" id="avatar" style="cursor:pointer;">
            <input accept=".png, .jpg" type="file" id="avatarInput" name="avatar" style="display:none;">
        </form>
      <div class="name-box" style="width: 80%; justify-content: center; display: flex; align-items: center;">
        <h4 >{{name}}</h4>
      </div>

      <form method="POST" id="email-form" style="margin-top: 10px; width: 100%;">
        {% csrf_token %}
        <span>Email</span>
        <div class="Info">
          <input type="email" name="email" required="required" class="editinginputs1" id="editingtoggle1" placeholder="{{email}}" value="{{email}}" maxlength="22" disabled>
          <button type="button" class="toggle" id="toggle1"> &#9998; </button>
        </div>
      </form>

      <form method="POST" id="phone-form" style="width: 100%;" >
        {% csrf_token %}
        <span>Phone</span>
        <div class="Info">
          <input type="tel" name="phone" required="required" class="editinginputs1" id="editingtoggle2" placeholder="{{phone}}" value="{{phone}}" maxlength="16" disabled>
          <button type="button" class="toggle" id="toggle2"> &#9998; </button>
        </div>
      </form>

      <form method="POST" id="birthday-form"  style="width: 100%;">
        {% csrf_token %}
        <span>Birthday</span>
        <div class="Info">
          <input type="dat" name="birthday" required="required" class="editinginputs1" id="editingtoggle3" placeholder="{{birthday}}" value="{{birthday}}" maxlength="10" disabled>
          <button type="button" class="toggle" id="toggle3"> &#9998; </button>
        </div>
      </form>

      <form method="POST" id="password-form"  style="width: 100%;">
        {% csrf_token %}
        <span>Password</span>
        <div class="Info">
          <input type="password" name="password" required="required" class="editinginputs1" id="editingtoggle4" placeholder="{{password}}" value="{{password}}" maxlength="20" disabled>
          <button type="button" class="toggle" id="toggle4"> &#9998; </button>
        </div>
      </form>

      <form action="{% url 'login_view' %}" method="post" id="logout-form" style="width: 80%; justify-content: center; display: flex; height: 8%;">
          {% csrf_token %}
          <button type="submit" class="btn">Log Out</button>
          <input type="hidden" name="logout" value="true">
      </form>
  </div>

  <div class="right">
      <div class="projects">
          <h3>Ближайшие бронирования</h3>
          {% if not next_book %}
          <div class="projects_data">
            <div class="value-empty">
              <h1>Пусто</h1>
            </div>
          {% endif %}
            {% for value in next_book %}
               <div class="data" id="data" onclick="location.href='coworking/{{ value.key }}';">
                <img src="{{value.image.file.url}}" alt="user" width="250" height="100">
                <p>{{value.address}}</p>
                <h4>{{value.cowork_name}}</h4>
                <div class="recent">
                  <div class="time">
                    <h4>{{value.time_start}}</h4>
                  </div>
                  <div class="price">
                    <h4>{{value.price}} руб.</h4>
                  </div>
                </div>
               </div>
            {% endfor %}

          </div>
      </div>
    
    <div class="projects">
          <h3>Прошедшие бронирования</h3>
          {% if not prev_book %}
          <div class="projects_data">
            <div class="value-empty">
              <h1>Пусто</h1>
            </div>
          {% endif %}
          <div class="projects_data">
            {% for value in prev_book %}
               <div class="data" id="{{value.id}}">
                  <img src="{{value.image.file.url}}" alt="user" width="250" height="100">
                  <p>{{value.address}}</p>
                  <h4>{{value.cowork_name}}</h4>
                  <div class="previous">
                    <div class="date">
                      <h4>{{value.time_start}}</h4>
                    </div>  
                    <div class="time">
                      <div class="wrapper-rating" style="padding-top: 20px;">
                        <h4> Оцените коворкинг.</h4>
                        <form action="#">
                          <div class="rating">
                            <input type="number" name="rating" hidden>
                            <i class='bx bx-star star' style="--i: 0;"></i>
                            <i class='bx bx-star star' style="--i: 1;"></i>
                            <i class='bx bx-star star' style="--i: 2;"></i>
                            <i class='bx bx-star star' style="--i: 3;"></i>
                            <i class='bx bx-star star' style="--i: 4;"></i>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
               </div>
               
            {% endfor %}

          </div>
      </div>
    
  </div>
</div>

<script>
    document.getElementById('avatar').addEventListener('click', function() {
        document.getElementById('avatarInput').click();
   });

   document.getElementById('avatarInput').addEventListener('change', function() {
       document.getElementById('profileForm').submit();
   });
  function toggleInputState(inputField, toggleButton, formId) {
      const isDisabled = inputField.disabled;
      inputField.disabled = !isDisabled;

      if (isDisabled) {
          inputField.classList.remove('disabled');
          toggleButton.textContent = '✎';
          inputField.focus();
      } else {
          inputField.classList.add('disabled');
          toggleButton.textContent = '✎';

          // Send form data to server
          document.getElementById(formId).submit();
      }
  }

  document.getElementById('toggle1').addEventListener('click', function() {
      toggleInputState(document.getElementById('editingtoggle1'), this, 'email-form');
  });

  document.getElementById('toggle2').addEventListener('click', function() {
      toggleInputState(document.getElementById('editingtoggle2'), this, 'phone-form');
  });

  document.getElementById('toggle3').addEventListener('click', function() {
      toggleInputState(document.getElementById('editingtoggle3'), this, 'birthday-form');
  });

  document.getElementById('toggle4').addEventListener('click', function() {
      toggleInputState(document.getElementById('editingtoggle4'), this, 'password-form');
  });


</script>

<script>
  let containers = document.querySelectorAll('.data')
  containers.forEach(container => {

    var allStar = container .querySelectorAll('.rating .star')
    var ratingValue = container.querySelector('.rating input')
    allStar.forEach((item, idx)=> {
    item.addEventListener('click', function () {
      let click = 0
      ratingValue.value = idx + 1

      allStar.forEach(i=> {
        i.classList.replace('bxs-star', 'bx-star')
        i.classList.remove('active')
      })

      for(let i=0; i<allStar.length; i++) {
        if(i <= idx) {
          allStar[i].classList.replace('bx-star', 'bxs-star')
          allStar[i].classList.add('active')
        } else {
          allStar[i].style.setProperty('--i', click)
          click++
        }
      }
    })
  })
  });
     


</script>

{% endblock %}
