{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> Регистрация </title>
    <link rel="stylesheet" href="{% static 'main/css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <meta name="viewsport" content="width=device-width, initial scale=1.0">
</head>
<body>
    <header style="background-color: transparent;">
        <a class ="logo" href="/"> cO7working </a>

    </header>
    
    <div class="container-wrapper">
        <h1 class="heading">Choose Your Side</h1>

        <div class="containers">
            
            <div class="container" id="container1">
                <h2 class="container-text">Create Your Perfect Workplace.</h2>
                <div class="imgbox">
                    <img src="{% static 'main/img/woodcutter.png' %}" alt="">
                </div>
                <button class="RegBtn" onclick="toggleContainer12()">Create</button>
            </div>

            <div class="container" id="container2"  style="display: none;" >
                <h2 class="container-text">Create Your Perfect Workplace.</h2>
                <form method="POST" action="/">
                    {% csrf_token %}
                    <input type="place" name="company_name" placeholder="Company name" required>
                    <input type="place" name="email" placeholder="Email" required>
                    <h5 class="text" >This Email already used</h5>
                    <input id="phone1" name="phone" type="text" placeholder="Phone" required>
                    <h5 class="text" >This Phone already used</h5>
                    <input type="place" name="password" placeholder="Password" required>
                    <input type="place" name="confirm_password" placeholder="Confirm password" required>
                    <h5 class="text" >Password mismatch</h5>
                    <button type="submit" class="RegBtn" name="form_type_btn" value="company">Confirm</button>
                </form>
            </div>
            
            <div class="container" id="container3">
                <h2 class="container-text">Find Yourself In Creative Space.</h2>
                <div class="imgbox">
                    <img src="{% static 'main/img/spaceman.png' %}" alt="" style="margin-right: 8%;">
                </div>
                <button class="RegBtn" onclick="toggleContainer34()">Create</button>
            </div>

            <div class="container" id="container4"  style="display: none;" >
                <h2 class="container-text">Find Yourself In Creative Space.</h2>
                <form method="POST" action="/">
                    {% csrf_token %}
                    <input type="place" placeholder="First name" required>
                    <input type="place" placeholder="Last name" required> 
                    <input id="phone2" name="phone" type="text" placeholder="Phone" required>
                    <h5 class="text" >This Phone already used</h5>
                    <input id="birth" type="text" placeholder="Date of birth" required>      
                    <input type="place" placeholder="Email" required>
                    <h5 class="text" >This Email already used</h5>
                    <input type="place" placeholder="Password" required>
                    <input type="place" placeholder="Confirm password" required>
                    <h5 class="text" >This Email already used</h5>
                    <button type="submit" class="RegBtn" name="form_type_btn" value="user">Confirm</button>
                </form>
                
            </div>
        </div>
    </div>
    <script>
        function toggleContainer12() 
        {
            var container1 = document.getElementById("container1");
            var container2 = document.getElementById("container2");
            var container3 = document.getElementById("container3");
            var container4 = document.getElementById("container4");

            container1.style.display = "none";
            container2.style.display = "block"; 
            container3.style.display = "block";
            container4.style.display = "none";
        }
        function toggleContainer34() 
        {
            var container1 = document.getElementById("container1");
            var container2 = document.getElementById("container2");
            var container3 = document.getElementById("container3");
            var container4 = document.getElementById("container4");

            container3.style.display = "none";
            container4.style.display = "block"; 
            container1.style.display = "block";
            container2.style.display = "none";

        }
    </script>
    <script>

        // Получаем поле ввода
        var inputField3 = document.getElementById("birth");
        // Добавляем обработчик события на каждый ввод пользователя
        inputField3.addEventListener("input", function(event) {
            // Получаем введенное значение
            var inputValue = event.target.value;
    
            // Удаляем все символы, кроме цифр
            var numericValue = inputValue.replace(/\D/g, '');
    
            // Форматируем значение в соответствии с нужным шаблоном
            var formattedValue = formatDateBirth(numericValue);
    
            // Устанавливаем отформатированное значение в поле ввода
            inputField3.value = formattedValue;
        });

        // Функция для форматирования номера телефона
        function formatDateBirth(phoneNumber) {
            var formattedNumber = phoneNumber.substring(0, 2); 
            // Добавляем код страны (предположим, что это Россия, код +7)

             // Добавляем номер телефона
             if (phoneNumber.length > 2) {
                formattedNumber += "." + phoneNumber.substring(2, 4);
                
            }  
            if (phoneNumber.length > 4) {
                formattedNumber += "." + phoneNumber.substring(4, 8);

            }
            return formattedNumber;
        }


        // Получаем поле ввода
        var inputField1 = document.getElementById("phone1");
    
        // Добавляем обработчик события на каждый ввод пользователя
        inputField1.addEventListener("input", function(event) {
            // Получаем введенное значение
            var inputValue = event.target.value;
    
            // Удаляем все символы, кроме цифр
            var numericValue = inputValue.replace(/\D/g, '');
    
            // Форматируем значение в соответствии с нужным шаблоном
            var formattedValue = formatPhoneNumber(numericValue);
    
            // Устанавливаем отформатированное значение в поле ввода
            inputField1.value = formattedValue;
        });

        var inputField2 = document.getElementById("phone2");
        
        // Добавляем обработчик события на каждый ввод пользователя
        inputField2.addEventListener("input", function(event) {
            // Получаем введенное значение
            var inputValue = event.target.value;

            // Удаляем все символы, кроме цифр
            var numericValue = inputValue.replace(/\D/g, '');

            // Форматируем значение в соответствии с нужным шаблоном
            var formattedValue = formatPhoneNumber(numericValue);

            // Устанавливаем отформатированное значение в поле ввода
            inputField2.value = formattedValue;
        });

   
        // Функция для форматирования номера телефона
        function formatPhoneNumber(phoneNumber) {
            var formattedNumber = "";
    
            // Добавляем код страны (предположим, что это Россия, код +7)
            if (phoneNumber.length > 0) {
                formattedNumber += "+7";
            }
    
            // Добавляем код оператора
            if (phoneNumber.length > 1) {
                formattedNumber += " (" + phoneNumber.substring(1, 4);
            }
    
            // Добавляем номер телефона
            if (phoneNumber.length > 4) {
                formattedNumber += ") " + phoneNumber.substring(4, 11);
            }   
    
            return formattedNumber;
        }
    </script>
</body>

</html>