{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> Регистрация </title>
    <link rel="stylesheet" href="{% static 'main/css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <meta name="viewsport" content="width=device-width, initial scale=1.0">
</head>
<body>
    <header style="background-color: transparent;">
        <a class ="logo" href="/"> CoWork </a>

    </header>
    
    <div class="container-wrapper">
        <h1 class="heading">Выберите сторону</h1>

        <div class="containers">
            
            <div class="container" id="container1">
                <h2 class="container-text">Создать рабочее место.</h2>
                <div class="imgbox">
                    <img src="{% static 'main/img/woodcutter.png' %}" alt="">
                </div>
                <button class="RegBtn" onclick="toggleContainer12()">Далее</button>
            </div>

            <div class="container" id="container2"  style="display: none;" >
                <h2 class="container-text">Создать рабочее место.</h2>
                <form id="registration_form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form_type_btn" value="company">

                    <input type="text" name="company_name" id="company_name" placeholder="Company name" required>
                    <div id="error-company_name" style="display: none;">A company by that name already exists</div>

                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <div id="error-email" style="display: none;">This Email already used</div>

                    <input id="phone1" name="phone" type="text" placeholder="Phone" required>
                    <div id="error-phone" style="display: none;">This Phone already used</div>

                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required>
                    <div id="error-password" style="display: none;">Passwords don't match</div>

                    <button type="submit" class="RegBtn">Подтвердить</button>
                </form>
            </div>
            
            <div class="container" id="container3">
                <h2 class="container-text">Найти рабочее место.</h2>
                <div class="imgbox">
                    <img src="{% static 'main/img/spaceman.png' %}" alt="" style="margin-right: 8%;">
                </div>
                <button class="RegBtn" onclick="toggleContainer34()">Далее</button>
            </div>

            <div class="container" id="container4"  style="display: none;" >
                <h2 class="container-text">Найти рабочее место.</h2>
                <form id="registration_form2" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form_type_btn" value="user">

                    <input type="text" name="first_name" placeholder="First name" required>
                    <input type="text" name="last_name" placeholder="Last name" required>

                    <input id="phone2" name="phone2" type="text" placeholder="Phone" required>
                    <div id="error-phone-user" style="display: none;">This Phone already used</div>

                    <input id="birth" type="text" name="birth" placeholder="Date of birth" required>

                    <input type="text" name="email2" placeholder="Email" required>
                    <div id="error-email-user" style="display: none;">This Email already used</div>

                    <input type="text" name="password2"  placeholder="Password" required>
                    <input type="text" name="confirm_password2" placeholder="Confirm password" required>
                    <div id="error-password-user" style="display: none;">Passwords don't match</div>

                    <button type="submit" class="RegBtn" name="form_type_btn" value="user">Подтвердить</button>
                </form>
                
            </div>
        </div>
    </div>

    <script>
        function toggleContainer12() 
        {
            var container1 = document.getElementById("container1");
            var container2 = document.getElementById("container2");
            var container3 = document.getElementById("container3");
            var container4 = document.getElementById("container4");

            container1.style.display = "none";
            container2.style.display = "block"; 
            container3.style.display = "block";
            container4.style.display = "none";
        }
        function toggleContainer34() 
        {
            var container1 = document.getElementById("container1");
            var container2 = document.getElementById("container2");
            var container3 = document.getElementById("container3");
            var container4 = document.getElementById("container4");

            container3.style.display = "none";
            container4.style.display = "block"; 
            container1.style.display = "block";
            container2.style.display = "none";

        }
    </script>
    <script>

        // Получаем поле ввода
        var inputField3 = document.getElementById("birth");
        // Добавляем обработчик события на каждый ввод пользователя
        inputField3.addEventListener("input", function(event) {
            // Получаем введенное значение
            var inputValue = event.target.value;
    
            // Удаляем все символы, кроме цифр
            var numericValue = inputValue.replace(/\D/g, '');
    
            // Форматируем значение в соответствии с нужным шаблоном
            var formattedValue = formatDateBirth(numericValue);
    
            // Устанавливаем отформатированное значение в поле ввода
            inputField3.value = formattedValue;
        });

        // Функция для форматирования номера телефона
        function formatDateBirth(phoneNumber) {
            var formattedNumber = phoneNumber.substring(0, 2); 
            // Добавляем код страны (предположим, что это Россия, код +7)

             // Добавляем номер телефона
             if (phoneNumber.length > 2) {
                formattedNumber += "." + phoneNumber.substring(2, 4);
                
            }  
            if (phoneNumber.length > 4) {
                formattedNumber += "." + phoneNumber.substring(4, 8);

            }
            return formattedNumber;
        }


        // Получаем поле ввода
        var inputField1 = document.getElementById("phone1");
    
        // Добавляем обработчик события на каждый ввод пользователя
        inputField1.addEventListener("input", function(event) {
            // Получаем введенное значение
            var inputValue = event.target.value;
    
            // Удаляем все символы, кроме цифр
            var numericValue = inputValue.replace(/\D/g, '');
    
            // Форматируем значение в соответствии с нужным шаблоном
            var formattedValue = formatPhoneNumber(numericValue);
    
            // Устанавливаем отформатированное значение в поле ввода
            inputField1.value = formattedValue;
        });

        var inputField2 = document.getElementById("phone2");
        
        // Добавляем обработчик события на каждый ввод пользователя
        inputField2.addEventListener("input", function(event) {
            // Получаем введенное значение
            var inputValue = event.target.value;

            // Удаляем все символы, кроме цифр
            var numericValue = inputValue.replace(/\D/g, '');

            // Форматируем значение в соответствии с нужным шаблоном
            var formattedValue = formatPhoneNumber(numericValue);

            // Устанавливаем отформатированное значение в поле ввода
            inputField2.value = formattedValue;
        });

   
        // Функция для форматирования номера телефона
        function formatPhoneNumber(phoneNumber) {
            var formattedNumber = "";
    
            // Добавляем код страны (предположим, что это Россия, код +7)
            if (phoneNumber.length > 0) {
                formattedNumber += "+7";
            }
    
            // Добавляем код оператора
            if (phoneNumber.length > 1) {
                formattedNumber += " (" + phoneNumber.substring(1, 4);
            }
    
            // Добавляем номер телефона
            if (phoneNumber.length > 4) {
                formattedNumber += ") " + phoneNumber.substring(4, 11);
            }   
    
            return formattedNumber;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#registration_form').submit(function(event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: '{% url "registration" %}',
                    method: 'POST',
                    data: formData,
                    success: function(response) {
                        window.location.href = "profile";
                    },
                    error: function(xhr, status, error) {
                        var errors = JSON.parse(xhr.responseText).error;
                        if (errors.company_name) {
                            $('#error-company_name').show();
                        } else {
                            $('#error-company_name').hide();
                        }
                        if (errors.email) {
                            $('#error-email').show();
                        } else {
                            $('#error-email').hide();
                        }
                        if (errors.phone) {
                            $('#error-phone').show();
                        } else {
                            $('#error-phone').hide();
                        }
                        if (errors.password) {
                            $('#error-password').show();
                        } else {
                            $('#error-password').hide();
                        }
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#registration_form2').submit(function(event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: '{% url "registration" %}',
                    method: 'POST',
                    data: formData,
                    success: function(response) {
                        window.location.href = "profile";
                    },
                    error: function(xhr, status, error) {
                        var errors = JSON.parse(xhr.responseText).error;
                        if (errors.email) {
                            $('#error-email-user').show();
                        } else {
                            $('#error-email-user').hide();
                        }
                        if (errors.phone) {
                            $('#error-phone-user').show();
                        } else {
                            $('#error-phone-user').hide();
                        }
                        if (errors.password) {
                            $('#error-password-user').show();
                        } else {
                            $('#error-password-user').hide();
                        }
                    }
                });
            });
        });
    </script>
</body>

</html>