{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> Регистрация </title>
    <link rel="stylesheet" href="{% static 'main/css/registration.css' %}">
    <meta name="viewsport" content="width=device-width, initial scale=1.0">
</head>
<body>
    <div class="container">
        <div class="title"> Регистрация </div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details"> Имя </span>
                    <input type="text" placeholder="Введите имя" required>
                </div>
                <div class="input-box">
                    <span class="details"> Фамилия </span>
                    <input type="text" placeholder="Введите фамилию" required>
                </div>
                <div class="input-box">
                    <span class="details"> Адрес почты </span>
                    <input type="text" placeholder="Введите алрес электронной почты" required>
                </div>
                <div class="input-box">
                    <span class="details"> Телефон </span>
                    <input type="text" placeholder="Введите телефон" required>
                </div>
                <div class="input-box">
                    <span class="details"> Дата рождения </span>
                    <input type="text" placeholder="Введите дату рождения" required>
                </div>
                <div class="input-box">
                    <span class="details"> Пароль </span>
                    <input type="text" placeholder="Введите пароль" required>
                </div>
                <div class="input-box">
                    <span class="details"> Подтверждение пароля </span>
                    <input type="text" placeholder="Введите пароль для подтверждения снова" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Зарегистрироваться">
            </div>
        </form>
    </div>
</body>

</html>