{% extends authorize_check %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/coworking.css' %}"> <!--Ярик, тут меняй css на профиль css который создашь
+ посмотри там другие css и скопируй из них переменные для цветов(они правда называются по-ублюдски но ты можешь поменять названия в своем css)-->
{% endblock %}

{% block content %}
<div id="overlay" class="overlay"></div>
<div class="book-window" id="book-window">
    <h1 style="color: aliceblue;">Время</h1>
    <h1 style="color: aliceblue;">место которое уже выбрано</h1>
    <h1 style="color: aliceblue;">ФИО - тоже выбрано беретяс из профилья</h1>
    <button class="close" id="closePopup">&times;</button>
    <p>Это всплывающее окно!</p>
</div>

<div class="container">
    <div class="left-image">
        <img src="{{big_img.file.url}}" alt="Left Image">
    </div>

    
    
    <div class="right-images">
        {% for item in small_img %}
            <img src="{{item.file.url}}" alt="Right Image 1">
        {% endfor %}


    </div>
    
</div>
<div class="text-container">
    <div class="text-box">
        <h2>Andplace</h2>
        <p>Andplace — это смарт-офисы премиум-класса в центре Петербурга. Уютные и светлые пространства с панорамными окнами оснащены всем необходимым для работы в команде или в одиночку.</p>
    </div>
</div>
<hr class="line">
<div class="text-container">
    <div class="overview">
        <h2 style="margin-left: 20px;">Space overview</h2>
        <div class="item">
            <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
            <p>High-speed internet</p>
        </div>
        <div class="item">
            <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
            <p>High-speed internet</p>
        </div>
    </div>
</div>
<div class="spaces-h1">
<h2 style="margin-left: 50px;">Spaces</h2>
    <div class="spaces">
        
        {% for item in spaces %}
        <div class="container-space">
            <div class="space-img" ><img src='{{item.img.url}}' alt="Right Image 1"></div>
            <h2 style="margin-left: 10px;">Зал для конференций</h2>
            <h4>{{item.price}}</h4>
            <h4>{{item.type}}</h4>
            <h4>{{item.num_of_seats}} человека</h4>
            <button type="submit" id="openPopup" class="BookBtn">Confirm</button>
        </div>
        {% endfor %}
               <!--
        <div class="container-space">
            <div class="space-img" ><img src="{% static 'main/img/coworking2.jpg' %}" alt="Right Image 1"></div>
            <h2 style="margin-left: 10px;">Зал для конференций</h2>
            <h4>4 человека</h4>
            <h4>4 человека</h4>
            <h4>4 человека</h4>
            <button type="submit" class="BookBtn">Confirm</button>
        </div>
        <div class="container-space">
            <div class="space-img" ><img src="{% static 'main/img/coworking2.jpg' %}" alt="Right Image 1"></div>
            <h2 style="margin-left: 10px;">Зал для конференций</h2>
            <h4>4 человека</h4>
            <h4>4 человека</h4>
            <h4>4 человека</h4>
            <button type="submit" class="BookBtn">Confirm</button>
        </div>
        <div class="container-space">
            <div class="space-img" ><img src="{% static 'main/img/coworking2.jpg' %}" alt="Right Image 1"></div>
            <h2 style="margin-left: 10px;">Зал для конференций</h2>
            <h4>4 человека</h4>
            <h4>4 человека</h4>
            <h4>4 человека</h4>
            <button type="submit" class="BookBtn">Confirm</button>
        </div>-->
    </div>
</div>
<div class="1container">
    <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
</div>

<script>
    btnopen = document.getElementById("openPopup")
    btnopen.addEventListener('click', function() {
    document.getElementById('book-window').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
    });

    document.getElementById('closePopup').addEventListener('click', function() {
    document.getElementById('book-window').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
    });
</script>
{% endblock %}