{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/coworking.css' %}"> <!--Ярик, тут меняй css на профиль css который создашь
+ посмотри там другие css и скопируй из них переменные для цветов(они правда называются по-ублюдски но ты можешь поменять названия в своем css)-->
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 100px;">
    <div class="left-image">
        <img src="{% static 'main/img/main-image.jpg' %}" alt="Left Image">
    </div>
    <div class="right-images">
        <img src="{% static 'main/img/main-image.jpg' %}" alt="Right Image 1">
    </div>
    
</div>
<div class="text-container">
    <div class="image-box">
        <img class="logo-img" src="{% static 'main/img/main-image.jpg' %}" alt="Right Image 1">
    </div>
    <div class="text-box">
        <h2>Andplace</h2>
        <p>Andplace — это смарт-офисы премиум-класса в центре Петербурга. Уютные и светлые пространства с панорамными окнами оснащены всем необходимым для работы в команде или в одиночку.</p>
    </div>
</div>
<div class="text-container">
    <div class="text-box" style="width: 100%;">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
    </div>
</div>
<div class="container">
    <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
</div>

   
{% endblock %}