{% extends authorize_check %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/coworking.css' %}"> <!--Ярик, тут меняй css на профиль css который создашь
+ посмотри там другие css и скопируй из них переменные для цветов(они правда называются по-ублюдски но ты можешь поменять названия в своем css)-->
{% endblock %}

{% block content %}


<div class="container">
    <div class="left-image">
        <img src="{{big_img.file.url}}" alt="Left Image">
    </div>

    
    
    <div class="right-images">
        {% for item in small_img %}
            <img src="{{item.file.url}}" alt="Right Image 1">
        {% endfor %}


    </div>
    
</div>
<div class="text-container">
    <div class="text-box">
        <h2>{{name_coworking}}</h2>
        <p>{{description}}</p>
    </div>
</div>
<hr class="line">
<div class="text-container">
    <div class="overview">
        <h2 style="margin-left: 20px;">Space overview</h2>
        <div class="item">
            <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
            <p>High-speed internet</p>
        </div>
        <div class="item">
            <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
            <p>High-speed internet</p>
        </div>
    </div>
</div>
<div class="spaces-h1">
<h2 style="margin-left: 50px;">Spaces</h2>
    <div class="spaces">
        
        {% for item in spaces %}
        <div id="overlay" class="overlay"></div>

        <div class="book-window" id="book-window">
            <button class="close" id="closePopup">&times;</button>
            <h1 style="margin-top: -40px;">{{item.type}}</h1>
            <h4>{{item.num_of_seats}} человека</h4>
            <h3 style="color: aliceblue;">Бронь на имя: {{}}</h3>
            <div class="container-space" style="height: 224px; width: 100%; display: flex; margin-left: 0px;">
                <div class="space-img" style="height: 212px;" ><img src='{{item.img.url}}' alt="Right Image 1"></div>
                <div class="accept-book" id="accept-book" style="display: none;">
                    <h1 style="margin-left: 80px ; margin-top: 90px;">Бронь прошла успешно</h1>
                    <h4 style="margin-left: 160px;">Вы можете закрыть это окно</h4>
                </div>
                
                <div class="right-box" id="norm-book" style="width: 520px;">
                    <button type="submit" class="BookBtn" id="accept-book-btn" style="height: 45px; margin-top: 170px; width: 98%; margin-left: 10px;">Подтвердить бронирование</button>
                </div>
            </div>
            

        </div>


        <div class="container-space">
            <div class="space-img" ><img src='{{item.img.url}}' alt="Right Image 1"></div>
            <h2 style="margin-left: 10px;">{{item.type}}</h2>
            <h4>{{item.price}}</h4>
            <h4>{{item.num_of_seats}} человека</h4>
            <button type="submit" id="openPopup" class="BookBtn">Забронировать</button>
        </div>
        {% endfor %}
               <!--
        <div class="container-space">
            <div class="space-img" ><img src="{% static 'main/img/coworking2.jpg' %}" alt="Right Image 1"></div>
            <h2 style="margin-left: 10px;">Зал для конференций</h2>
            <h4>4 человека</h4>
            <h4>4 человека</h4>
            <h4>4 человека</h4>
            <button type="submit" class="BookBtn">Confirm</button>
        </div>
        <div class="container-space">
            <div class="space-img" ><img src="{% static 'main/img/coworking2.jpg' %}" alt="Right Image 1"></div>
            <h2 style="margin-left: 10px;">Зал для конференций</h2>
            <h4>4 человека</h4>
            <h4>4 человека</h4>
            <h4>4 человека</h4>
            <button type="submit" class="BookBtn">Confirm</button>
        </div>
        <div class="container-space">
            <div class="space-img" ><img src="{% static 'main/img/coworking2.jpg' %}" alt="Right Image 1"></div>
            <h2 style="margin-left: 10px;">Зал для конференций</h2>
            <h4>4 человека</h4>
            <h4>4 человека</h4>
            <h4>4 человека</h4>
            <button type="submit" class="BookBtn">Confirm</button>
        </div>-->
    </div>
</div>
<div class="1container">
    <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
        <img class="icon-img" src="{% static 'main/img/notebook.png' %}" alt="Right Image 1">
</div>

<script>
    btnopen = document.getElementById("openPopup")
    btnopen.addEventListener('click', function() {
    document.getElementById('book-window').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
    });

    document.getElementById('closePopup').addEventListener('click', function() {
    document.getElementById('book-window').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
    });

    btnaccept = document.getElementById("accept-book-btn")
    btnaccept.addEventListener('click', function() {
    document.getElementById('accept-book').style.display = 'block';
    document.getElementById('norm-book').style.display = 'none';
    });

</script>
{% endblock %}