@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #161616;
    background: linear-gradient(#161616, #161616);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #ca5f25;
    user-select: none;
}

.navigation .aStyle {
    position: relative;
    font-size: 1.1em;
    color: #ca5f25;
    text-decoration: none;
    font-weight:500;
    margin-left: 40px;
}


.navigation .aStyle:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    transform-origin: right;
    background: #ca5f25;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .75s;
}

.navigation .aStyle:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.navigation .btnLogin {
    color: #ca5f25;
    border: 2px solid #ca5f25;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: transparent;
    

    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size:1.1em;
    
    font-weight: 500;
    margin-left: 40px;
    transition: .75s;
    
}

.navigation .btnLogin:hover{ /* Кнопка регистрации/входа */
    background: #ca5f25;
    color: #161616;
}