@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.contact-left-title h2{
    font-weight: 600;
    color: #ca5f25;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #ca5f25;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-input{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: black;
    background-color: #ca5f25;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    resize:none;
}

.contact-input:focus{
    border: 2px solid #222222;
}


.contact-input::placeholder{
    color: rgb(0, 0, 0);
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: black;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ca5f25, #ca5f25);
    cursor: pointer;
}

.contact-left button img{
    height: 15px;
}

.contact-right img{
    width: 500px;
}

@media (max-width:800px){
    .contact-inputs{
        width:80vw;
    }
    .contact-right{
        display: none;
    }

}