:root {
    --main-bg-color: #161616;
    --white-orange-color: #d94d04;
    --white-bg-color: #2e2e2e;
    --gray-color: #f9f9f7;
    --soliders: black;
    --light-orange-color: #e89468;
}
@font-face {
    font-family: "Sans pro Regular";
    src: url("/static/main/fonts/SourceSansPro-SemiBold.ttf");
  }
@font-face {
    font-family: "Sans pro Light";
    src: url("/static/main/fonts/SourceSansPro-Light.ttf");
  }
@font-face {
    font-family: "Sans pro 400";
    src: url("/static/main/fonts/SourceSansPro-Regular.ttf");
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* сюда шрифт ебашишь ТИМОХА */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 96%; /* Пример: установите желаемую ширину в процентах или пикселях */
    margin: 0 auto; /* Центрируем контейнер на странице */
    display: flex;
    height: 500px;
}

.left-image {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; /* Добавляем overflow: hidden; */
    border: 2px solid transparent;
    border-radius: 50px;
    text-align: center; /* Центрируем изображение */
}

.logo-img img{
    max-width: 100%; /* Изображение будет занимать максимальную ширину контейнера */
    height: auto; /* Сохраняем пропорции изображения */
}
.right-images {
    flex: 1;
    overflow: hidden; /* Добавляем overflow: hidden; */
    border: 2px solid transparent;
    border-radius: 50px;
    display: inline-block;
    
}
.right-images img {
    margin: 5px;
    max-width: 100%; /* Изображение будет занимать максимальную ширину контейнера */
    width: auto;
    min-height: 20%;
}

.left-image img {
    margin: 5px;
    max-width: 100%; /* Изображение будет занимать максимальную ширину контейнера */
    height: auto; /* Сохраняем пропорции изображения */
}

.icon-img{
    width: 3%;
    height: auto;
    margin-left: 20px;
}

.text-container {
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Поднять полоску немного выше */
}

.text-box {
    width: 90%; /* Разделение на два контейнера */
    background-color: var(--white-bg-color);
    color: var(--gray-color);
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid var(--white-orange-color);
    border-radius: 50px;
    margin-right: 1%;
    box-shadow: 0px 0px 3px var(--white-orange-color); /* Горизонтальное смещение, вертикальное смещение, размытие, цвет */
}

.text-box h2 {
    margin-bottom: 10px;
}

.image-box{
    position: relative;
    width: 135px;
    height: 135px;
    border-radius: 30%;
    overflow: hidden;
}

.logo-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 1300px) {
    .right-images{
        display: none;
    }
}