body {
	margin: 0;
  padding: 0;
  background-color: #161616;
}

*{
  font-family: 'Josefin Sans', sans-serif;
}

.gallery {
	--gap: 16px;
	--num-cols: 4;
	--row-height: 300px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}

.gallery>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  border-radius: 25px;
}

.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
	.gallery {
		--num-cols: 2;
		--row-height: 200px;
	}
}

.editinginputs1{
  align-items: left;
}

.info span{
  color: white;
  align-items: left;
  margin-left: 2%;
}

.wrapper .info{
  align-items: center;
}

.info input{
  margin-top: 5px;
  padding: 10px;
  background: #2e2e2e;
  border-radius: 25px;
  outline: #161616;
  font-size: 1em;
  border: 3px solid #d94d04;
}

.info .toggle{
  color: #d94d04;
  background-color: #161616;
  border: transparent;
  display: inline-block;
  flex-direction: column;
  vertical-align: middle;
}

.price{
  display: inline-flex;
}

.price .left {
  margin-left: 2%;
  margin-right: 2%;
}

.price .right{
  height: 100%;
  width: 100%;
  color: white;
  margin: auto;
}

.price .right .element{
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
}

.price h4{
  display: flex;
  margin-left: 20px;
  position: top;
}

.price .right svg{
  margin-top: 7.5%;
}

.price .right input{
  margin-top: 10%;
  margin-left: 5%;
}

.price .right .custom-checkbox{
  border: 3px solid #d94d04;
}

.price .left h1{
  color: white;
}


.price p{
  border: 3px solid #d94d04;
  color: white;
  border-radius: 15px;
  width: 750px;
  height: 250px;
}

.tarifs{
  width: 100vw;
  height: 50vh;
  background-color: #161616;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1{
  margin-right: 35px;
  width: 25%;
  height: 85%;
  background-color: #d94d04;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s ease-out;
}

.box1 h4{
  font-size: 1.5em;
  font-family: sans-serif;
  border: 2px solid white;
  border-radius: 5px;
}

.box1 img{
  width: 80px;
  height: 80px;
}

.box1 .line1{
  width: 65%;
  height: 2px;
  background-color: white;
}

.box1 p{
  text-align: center;
  color: white;
  font-family: monospace;
  border-radius: 10px;
  border: 3px outset white;
  margin-top: 5px;
}

.box1 .line1 {
  color: white;
  text-align: center;
  align-items: center;
  font-family: monospace;
  border: 3px solid white;
  border-radius: 15px;
}



.box1 input{
  padding: 10px;
  background: #2e2e2e;
  border-radius: 25px;
  outline: #161616;
  color: white;
  font-size: 1em;
  text-align: center;
  border: 3px solid #d94d04;
}

.wrapper h1{
  text-align: center;
  color: white;
  font-family: monospace;
  padding: 10px;
  border: 3px solid #d94d04;
  border-radius: 15px;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
}

.box1:hover{
  transform: scale(1.15);
  border: 2px solid white;
}


.main {
  display: block;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  font-size: 20px;
}

.main input[type=checkbox] {
  visibility: hidden;
}

.checkbox-container {
  position: absolute;
  left: 0;
  height: 100%;
  width: 35%;
  background-color: transparent;
  border: 2px solid white;
  margin-left: 25%;
  border-radius: 5px;
}

.main:hover input~.checkbox-container {
  background-color: #d94d04;
}

.main input:active~.checkbox-container {
  background-color: #d94d04;
}

.main input:checked~.checkbox-container {
  background-color: #d94d04;
}

.checkbox-container::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.main input:checked~.checkbox-container::after {
  display: block;
}


